*.cs linguist-language=C#
*.css linguist-detectable=false linguist-vendored
*.less linguist-detectable=false linguist-vendored
*.js linguist-detectable=false linguist-vendored
*.scss linguist-detectable=false linguist-vendored
*.html linguist-detectable=false linguist-vendored
