
<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
        <!-- Logo -->
        <div class="top-left-part">           
            <a class="logo" href="/Home/Index">
                <!-- Logo icon image, you can use font-icon also -->
                <b>
                    <img src="~/Content/Images/images/eliteadmin-logo.png" />
                </b>
                <!-- Logo text image you can use text also -->
                <span class="hidden-xs" style="display:none;">
                    <img src="~/Content/Images/images/eliteadmin-text.png" />
                </span>
            </a>
        </div>
        <!-- /Logo -->
        <!-- This is for mobile view search and menu icon -->
        <ul class="nav navbar-top-links navbar-left hidden-xs active">
            <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="ti-menu"></i></a></li>
            <li class="in">
               
            </li>
        </ul>
        <!-- This is the message dropdown -->
        <ul class="nav navbar-top-links navbar-right pull-right">
            <!-- /.dropdown -->
            <!-- /.dropdown -->

            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <li class="dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                        <img src="~/Content/Images/images/users/person.png" alt="user-img" width="36" class="img-circle" />
                        <b class="hidden-xs">
                            @HttpContext.Current.User.Identity.Name
                        </b>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        <li><a href="@Url.Action("UserProfile", "User")"><i class="ti-user"></i> Profilim</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Logout", "Security")"><i class="fa fa-power-off"></i> Çıkış Yap</a></li>
                    </ul>
                    
                    <!-- /.dropdown-user -->
                </li>
            }
                <!-- .Megamenu -->
                <!-- /.Megamenu -->
                <li class="right-side-toggle"> </li>
                <!-- /.dropdown -->
            </ul>
    </div>
</nav>
